<h2>Who are the winners and losers, and what happens next?</h2>

{{#portraits}}

<div class="gv-portrait gv-{{coalition}}">
    <div class="gv-portrait-name">
        <h4 class="gv-{{coalition}}">{{name}}</h4>
    </div>
    <div class="gv-subhead">{{party}}</div>
    <div class="gv-inner-wrapper">
        <div class="gv-mugshot-wrapper gv-{{coalition}}">
            <img class="gv-mugshot" src="{{outputPic}}" />
        </div>
        <div class="gv-portrait-copy">{{{outputCopy}}}</div>
    </div>
</div>

{{/portraits}}