<div class="gv-key">

    <div class='gv-blob-group'>
      <div class="gv-label-wrapper">
          <div class="gv-label gv-label-top">Proportional</div>
          <div class="gv-label">Direct</div>
      </div>
    </div>

    <div class='gv-blob-group'>
        <div class="gv-blob-wrapper">
            <div class="gv-blob gv-cl gv-blob-top">&nbsp;</div>
            <div class="gv-blob gv-direct gv-cl gv-blob-bottom">&nbsp;</div>
        </div>
        <div class="gv-party">Centre-left</div>
    </div>
    <div class='gv-blob-group'>
      <div class="gv-blob-wrapper">
          <div class="gv-blob gv-cr gv-blob-top">&nbsp;</div>
          <div class="gv-blob gv-cr gv-direct gv-blob-bottom">&nbsp;</div>
      </div>
      <div class="gv-party">Centre-right</div>
    </div>

    <div class='gv-blob-group'>
      <div class="gv-blob-wrapper">
          <div class="gv-blob gv-m5s gv-blob-top">&nbsp;</div>
          <div class="gv-blob gv-m5s gv-direct gv-blob-bottom">&nbsp;</div>
      </div>
      <div class="gv-party">Five Star Movement</div>
    </div>
    <div class='gv-blob-group'>

        <div class="gv-blob-wrapper">
            <div class="gv-blob gv-leu gv-blob-top">&nbsp;</div>
            <div class="gv-blob gv-leu gv-direct gv-blob-bottom">&nbsp;</div>
        </div>
        <div class="gv-party">Free and Equal</div>
    </div>

    <div class='gv-blob-group'>
        <div class="gv-blob-wrapper">
            <div class="gv-blob gv-others gv-blob-top">&nbsp;</div>
            <div class="gv-blob gv-others gv-direct gv-blob-bottom">&nbsp;</div>
        </div>
        <div class="gv-party">Others</div>
    </div>


</div>

<!-- <div class="gv-key">
    <div class="gv-key-row">
<div class="gv-key-datum">Direct</div><div class="gv-key-datum"></div><div class="gv-key-datum"></div><div class="gv-key-datum"></div>
    </div>
    <div class="gv-key-row">
            <div class="gv-key-datum">Proportional</div><div class="gv-key-datum"></div><div class="gv-key-datum"></div><div class="gv-key-datum"></div>

        </div>
</div>

-->
