<h2>Party-by-party results</h2>
<div class="gv-gloss">{{{mustacheCopy.tableGloss}}}</div>

<div class="gv-partyTable">
    <div class="gv-table-header-row">
        <div class="gv-table-cell">Party</div>
        <div class="gv-table-cell">% of vote</div>
        <div class="gv-table-cell">Change</div>
    </div>
    {{#chamberVotes}}
    <div class="gv-table-row">
        <div class="gv-table-cell"><div class="gv-party-blob gv-{{coalition}}"> </div><span class="gv-table-party">{{party}}</span></div>
        <div class="gv-table-cell">{{voteShare}}</div>
        <div class="gv-table-cell">{{change}}</div>
    </div>
    
    {{/chamberVotes}}
</div>