@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

$cl: $gu-red;
$cr: $gu-blue;
$m5s: $gu-orange;
$other: $gu-grey-3;
$leu: $gu-darkred;



.element-atom,
.interactive-atom {
    margin: 0 !important;

    h2 {
        padding-top: 40px;
        @include fs-headline(4);
        font-weight: 700;
    }

    .gv-main-title h2 {
        padding-top: 0px;
    }

    .gv-key {
      margin-bottom: 10px;
    }

    .gv-blob-group {
      @include mq($until: tablet) {
        width: 30%;
        display: inline-block;
        margin-bottom: 5px;
      }
      display: inline;
    }

    .gv-blob-wrapper,.gv-label-wrapper,.gv-party {
        display: inline-block;
            vertical-align: middle;
      }

      .gv-label-wrapper {
        &:first-of-type {
          @include mq($until: tablet) {
            width: calc(100% - 10px);
          }
        }
      }

      .gv-blob-wrapper {
        margin-left: 2px;
      }

      .gv-party {
        vertical-align: middle;
        min-width: 75px;
        max-width: 76px;
        @include fs-textSans(3);
        line-height: 14px;
      }

    .gv-pure-shame {
        height: 1px;
        width: 100%;
        clear: both;
    }

    .gv-partyTable {
        display: table;
        width:100%;
        @include fs-textSans(3);
    }

    .gv-party-blob {
        display: inline-block;
        height: 10px;
        width: 10px;
        margin-right: 3px;
        border-radius: 3px;
        background-color: $gu-grey-3;


        &.gv-cl {
            background-color: $cl;
        }

        &.gv-cr {
            background-color: $cr;
        }

        &.gv-m5s {
            background-color: $m5s;
        }


        &.gv-leu {
            background-color: $leu;
        }

    }



    .gv-table-header-row {
        display: table-header-group;
        font-weight: bold;
    }

    .gv-table-row {
        display: table-row;
    }

    .gv-table-cell {
        display: table-cell;
        padding-right:10px;
        padding-top:5px;
    }

    .gv-blob-wrapper {
        vertical-align: middle;

        .gv-blob {
            background-color: $other;

            height: 12px;
            width: 24px;

            &.gv-blob-top {
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
            }
            &.gv-blob-bottom {
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
            }

            &.gv-direct {
                opacity: 0.6;
            }

            &.gv-cl {
                background-color: $cl;
            }

            &.gv-cr {
                background-color: $cr;
            }

            &.gv-m5s {
                background-color: $m5s;
            }


            &.gv-leu {
                background-color: $leu;
            }

        }

    }

    .gv-subhead {
        @include fs-bodyCopy(1);
        margin-bottom: 1em;
    }
    .gv-gloss {
        @include fs-bodyCopy(2);
        margin-top: 10px;
    }

    .gv-label {
        @include fs-textSans(1);
        padding-right: 5px;
        font-weight: bold;
        &:first-of-type {
          border-bottom: 1px solid #dfdfdf;
        }
        @include mq($until: tablet) {
          width: 100%;
        }
    }
    .gv-label-top {
        vertical-align: top;
    }
.gv-seat-count {
    color: $gu-grey-2;
}

    .gv-halfway-marker {
        position: relative;
        left:50%;
        margin:0px;
        top: -24px;
        @include fs-textSans(1);
        font-size: 11px;
        color: $gu-grey-2;
        width: 200px;

    }

    .gv-halfway-marker-label {
        position: relative;
        left: calc(50% - 2.5em);
        width: 200px;
        margin:0px;
        top: -23px;
        @include fs-textSans(1);
        font-size: 11px;
        color: $gu-grey-2;
    }

    // .gv-chamber-graphic::after{
    //     content: "|";
    //     left: 50%;
    //     position:relative;
    //     ::after{
    //         content: 'This is getting silly'
    //     }
    // }


    .gv-seats-total {
        position:absolute;
        color:black;
        transform: translateY(-36px);
        @include fs-textSans(2);
        font-weight:bold;
        padding-left:2px;
    }

    .gv-chamber-graphic {
        margin-bottom: 20px;
        width: 100%;
        height: 60px;

//        background-color: grey;


        .gv-bar {
            margin:0px;
            float: left;
            height: 60px;
            background-color: $other;


            &.gv-direct {
                opacity: 0.6;
            }

            &.gv-cl {
                background-color: $cl;
            }

            &.gv-cr {
                background-color: $cr;
            }

            &.gv-m5s {
                background-color: $m5s;
            }
            &.gv-leu {
                background-color: $leu;
            }

        }
    }

    img.gv-mugshot {
        filter: grayscale(100%);
width: 100%;
height: 100%;
    border-radius: 100%;
    }

    .gv-inner-wrapper {
        margin-top: 10px;
        width: 100%;
        min-height: 140px;
        clear: both;
        position: relative;
        border-top:1px solid #dfdfdf;
        padding-top: 5px;
    }

    .gv-mugshot-wrapper {

        width: 80px;
        height: 80px;
        margin: 5px 10px 5px 0;
        @include mq($until: leftCol) {
          float: left;
        }
        @include mq(leftCol) {
          width: 130px;
          height: 130px;
          position: absolute;
          left: -160px;
          top: -60px;
        }
        border-radius: 100%;
        &.gv-cl {
            border: 5px solid $cl;

        }
        &.gv-cr {
            border: 5px solid $cr;
        }
        &.gv-m5s {
            border: 5px solid $m5s;
        }
     }

     .gv-portrait-copy {
         float: left;
         width: calc(100% - 150px);
         padding-left: 10px;
         top: -5px;
     }

     .gv-portrait-name {
       font-size: 16px;
       border-top:1px solid #dfdfdf;

     }



    .gv-portrait {
        margin-top: 20px;
        margin-bottom: 30px;
        h4 {
            display: inline-block;
          //  border-top: 2px solid;
          font-size: 18px;
        }
        // &.gv-cl {
        //     border-top: 1px solid $cl;
        // }
        // &.gv-cr {
        //     border-top: 1px solid $cr;
        // }
        // &.gv-m5s {
        //     border-top: 1px solid $m5s;
        // }
    }



}

.content--interactive .content__headline, .headline {
  font-size: 32px;
  line-height: 35.2px;
  font-family: "Guardian Egyptian Web","Guardian Text Egyptian Web",Georgia,serif;
  font-weight: 700;
  @include mq(leftCol) {
    font-size: 50px;
    line-height: 54px;
  }
}

.headline {
  font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
}

.content__standfirst, .standfirst {

  font-weight: 200;
  line-height: 25px;
  font-size: 22px;
  max-width: 280px;
  @include mq(leftCol) {
    max-width: 460px;
  }
}

.content__main, .content__head {
  position: relative;

  &:before {


    @include mq(leftCol) {
      left: calc((100% - 1140px)/2 + 170px);
      position: absolute;
      top: 0;

      height: 100%;
      min-height: 500px;
      content: ' ';


      border-left:1px solid #dfdfdf;
    }

    @include mq(wide) {
      left: calc((100% - 1300px)/2 + 250px);
    }
  }
}

a, .u-fauxlink {
    color: #c70000;
    cursor: pointer;
    text-decoration: none;
}
.tonal--tone-news .tone-colour{
      color: #c70000;
}

.content__meta-container{
  background-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
  background-repeat: repeat-x;
  background-position: top;
  -webkit-background-size: 0.0625rem 0.8125rem;
  background-size: 0.0625rem 0.8125rem;
  padding-top: 12px;
  border-top: none;
}
.content__main-column--interactive {
    & > p, & > h2,& > ul,  .element-interactive,.element-atom {
        max-width: 620px;

        @include mq(leftCol) {
            margin-left: 160px !important;
        }
        @include mq(wide) {
            margin-left: 240px !important;
        }
    }

    & > h2 {
    	font-family: "Guardian Egyptian Web", Georgia;
    	font-size: 36px;
    	line-height: 42px;
    	font-weight: 700;
    	color: #333;
    	margin-top: 36px;
    	margin-bottom: 6px;
    }

    .element--immersive {
    	max-width: initial;
    	margin-left: 0 !important;
        margin-bottom: 36px !important;
    }

    .element--showcase {

      max-width: 860px;

    }


}

.content__main-column--interactive blockquote, .prose blockquote {
  font-style: normal;
  margin: 0 0 10px 10px;
  float: right;
  width: 40%;
  border-top: 4px solid #000;
  background: #fff;
  padding: 10px 0;
  font-family: 'Guardian Text Sans Web', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 13px;
  line-height:18px;

  @include mq(leftCol) {
      width: 150px;
      float: left;
      margin: 0;
  }
  @include mq(wide) {
      width: 230px;
  }

  p {
    margin-bottom: 0;
  }

}

.prose blockquote.quoted::before {
  display: none;
}
